# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#api keys
.env
firestore-algolia-search.env
sa.json
newstimeline-62758-firebase-adminsdk-de5mn-531e006ab4.json
algoliaApiKey.tsx

#content crawling .js
api.js
fetchContent.js
firebase_fetchNews.js
