# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#firebase
.firebase


#api keys
.env
sa.json
newstimeline-62758-firebase-adminsdk-de5mn-6476ca6af7.json
//app engine在用的
newstimeline-62758-461ddc6816ff.json

config.cjs
algoliaKey.tsx

